<!-- views/pages/organizer/volunteer-history.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Volunteer History</title>
	<link rel="stylesheet" href="/css/history.css">
</head>

<body>
	<!-- Navbar -->
	<%- include('../../components/navbar', {session: session}) %>
	<div class="container">
		<h1>Your Volunteer History</h1>
		<table id="volunteer-history">
			<thead>
				<tr>
					<th>Event Name</th>
					<th>Date</th>
					<th>Urgency</th>
					<th>Location</th>
					<th>RSVP Status</th>
				</tr>
			</thead>
			<tbody>
				<% events.forEach(function(event) { %>
					<tr>
						<td>
							<%= event.event_name %>
						</td>
						<td>
							<% const date = new Date(); %>
							<% date.setTime(event.event_date * 1000); %>
							<% const dateStr = date.toISOString().split('T')[0]; %>
							<%= dateStr %>
						</td>
						<td>
							<%= event.urgency == 0 ? "Urgent" : "Normal" %>
						</td>
						<td>
							<%= event.location %>
						</td>
						<td>
							<%= event.rsvp_status %>
						</td>
					</tr>
				<% }) %>
			</tbody>
		</table>
		<!-- Home Button -->
		<a id="home-page" href="/">Go Home</a>
		<script src="/js/menu.js"></script>
	</div>
</body>

</html>