<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/css/example.css">
		<title>Manage User Profile</title>
		<script src="/js/userprefs-manage-skills.js"></script>
	</head>
	<body>
		<%- include("../../components/navbar.ejs") %>
		<div class="center">
			<article>
				<h1>Update your profile</h1>
				<!-- Personal info -->
				<div class="panelblock">
					<h2>Personal information</h2>
					<form method="post">
						<label for="fullName">Full name</label>
							<input type="text" id="fullName" name="fullName" maxlength="50" value="<%=user.fullName%>" required>
							<br>
						<label for="address1">Address 1</label>
							<input type="text" id="address1" name="address1" maxlength="100" value="<%=user.address1%>" required>
							<br>
						<label for="address2">Address 2</label>
							<input type="text" id="address2" name="address2" maxlength="100" value="<%=user.address2%>">
							<br>
						<label for="city">City</label>
							<input type="text" id="city" name="city" maxlength="100" value="<%=user.city%>" required>
							<br>
						<label for="state">State</label>
							<select id="state" name="state">
								<% for (i = 0; i < stateModule.stateCodes.length; i++) { %>
									<% const currStateCode = stateModule.stateCodes[i]; %>
									<% const currStateName = stateModule.states[i]; %>
									<% if (currStateCode == user.state) { %>
										<option selected value=<%= currStateCode %>><%= currStateName %></option>
									<% } else { %>
										<option value=<%= currStateCode %>><%= currStateName %></option>
									<% } %>
								<% } %>
								
							</select>
							<br>
					<br>
					<h2>Volunteer preferences</h2>
					<form>
						<label for="skillSelect">Skills</label>
							<label for="addSkill">
								<select id="skillSelect" name="skillSelect" required>
									<!-- Creates the skill select dropdown -->
									<% skillModule.skills.forEach(function(skill) { %>
										<option value="<%=skill.id%>"><%=skill.name%></option>
									<% }) %>
								</select>
							</label>
							<button type="button" id="addSkill" onclick="userprefsAddSkill()">Add Skill</button>
							<br>
							<!-- Where the skills get added -->
							<table id="selectedSkillTable" class="multiselect">
								<tr>
									<th>Skill</th>
									<th>Actions</th>
								</tr>
								<!-- Creates the already chosen skills -->
								<% user.skills.forEach(function(id) { %>
								<%		const skill = skillModule.skillsMap[id] %>
										<tr id="<%=id%>">
											<td><%=skill.name%></td>
											<td><button type="button" class="fill cancel" onclick="userprefsRemoveSkill('<%=id%>')">Remove</button></td>
										</tr>
								<% }) %>
							</table>
						<label for="preferences">Preferences</label>
							<textarea type="" id="preferences" name="preferences" maxlength="500"><%=user.preferences%></textarea>
							<br>

						<!-- TODO: Make it so you can add more dates -->
						<label for="availability">Availability</label>
							<input type="date" id="availability" name="availability" maxlength="100" value="<%=user.availability.toISOString().substr(0, 10)%>" required>
							<br>
						<input type="submit" value="Update information">
					</form>
				</div>
			</article>
		</div>
		<script>
			console.log("runnning")
			document.querySelector("form").addEventListener('formdata', (e) => {
				e.preventDefault();
				const formData = e.formData; 

				const skillTable = document.getElementById("selectedSkillTable").children[0];
				const skills = [];
				for (i = 0; i < skillTable.children.length; i++) {
					const row = skillTable.children[i];
					if (row.id != null && row.id != "") {
						console.log(row.id);
						skills.push(row.id);
					}
				}
				formData.append("skills", skills);
				console.log(skills);
				console.log(formData);
			});
		</script>
	</body>
</html>